.c-tags {
  display: flex;
  flex-wrap: wrap;

  &__item a {
    background-color: $tagBg;
    color: $fontWhite;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    min-width: 69px;
    padding: 0 11.5px;
  }

  &__item {
    margin: 10px 10px 0 0;
  }
}
