.p-archives {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.p-archive {
  a {
    display: flex;
  }

  &__img {
    height: 56px;
    width: 100px;
  }

  &__title-wrap {
    margin-left: 10px;
    width: calc(100% - 110px);
  }

  time {
    font-size: 12px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.5;
  }
}

@include mq-up(lg) {
  .p-archive + .p-archive {
    margin-top: 20px;
  }
}

@include mq-down(lg) {
  .p-archive {
    width: calc(50% - 20px);

    &:nth-of-type(2n) {
      margin-left: 20px;
    }

    &:nth-of-type(n + 3) {
      margin-top: 20px;
    }
  }
}

@include mq-down(sm) {
  .p-archive {
    width: 100%;
    &:nth-of-type(2n) {
      margin-left: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: 0;
    }
  }
  .p-archive + .p-archive {
    margin-top: 20px;
  }
}
