.l-footer {
  background-color: $footerBg;
  color: $fontWhite;

  &__inner {
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }

  &__logo {
    margin: 0 auto;
    width: 252px;
  }

  &__nav {
    margin: 30px auto 0;
  }

  &__company {
    font-size: 16px;
    margin-top: 40px;
  }
}
