.l-main {
  max-width: 640px;
  width: calc(100% - 380px);

  &--admin {
    margin: 0 auto;
    width: 100%;
  }
}

@include mq-down(lg) {
  .l-main {
    max-width: none;
    width: 100%;

    &--admin {
      width: 98%;
    }
  }
}
