.l-sidebar {
  height: fit-content;
  width: 320px;

  &__inner {
    background-color: $sidebarBg;
    padding: 20px 15px 40px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }
}

@include mq-down(lg) {
  .l-sidebar {
    margin: 40px 0 0 0;
    max-width: none;
    width: 100%;
  }
}
